# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Pytest
output
.coverage
.pytest_cache
.mypy_cache

# Distribution / packaging
venv/

# DotEnv configuration
.env

# Logs
*.log
src/airflow_dags/logs


# Exclude data from source control by default (not versioning binary/base files)
/data/*/data*.json
/src/notebooks/.ipynb_checkpoints
credentials/*.json

/airflow/*