# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

output
.coverage
.pytest_cache

# Distribution / packaging
venv/

artifact_store/*
!artifact_store/*.gitkeep


*.log

# DotEnv configuration
.env

# VS Code
#.vscode/
src/airflow_dags/logs


# exclude data from source control by default (not versioning binary/base files)
/data/*/data*.json
/data/*/*.csv
/models/*.h5
#/notebooks/
/src/notebooks/.ipynb_checkpoints

/mlruns
/models/*/*/*/*.yaml
/models/*/*/*/MLmodel
*.pkl

/airflow/*


credentials/*.json